
DB_HOST_DOCKER_ACTIVE=your-db-host
DB_NAME_DOCKER_ACTIVE=yourDbName
DB_USERNAME=yourUsername
DB_PASSWORD=yourPassword

DB_USERNAME_DEV=yourUsername
DB_PASSWORD_DEV=yourPassword
DB_HOST_DEV=your-db-host
DB_NAME_DEV=your-db-name
APP_NAME_DEV='Your app name'

GMAIL_USERNAME='Your gmail username '
GMAIL_PASSWORD='your gmail password'

