server:
  port: 8080


spring:
  application:
    name: BANKAPI
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/bank
    username: root
    password: Hiep31082003
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    hibernate:
      ddl-auto: update
  config:
    import: optional:file:.env[.properties]


